@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap');

* {
    font-size: min(0.83333333vw, 2vh);
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
}

#logoImg {
    width: 18rem;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0.75rem;
}

.menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 1.5rem;
    color: white;
    background: #009DDC;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 2px solid #2A2D34;
    border-radius: 0.5rem;
    transition: background 0.15s ease-in;
    text-decoration: none;
}

.menu a:hover {
    background: #007ddc;
}

#car-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

#car-form input {
    display: block;
    margin: 10px auto;
}

input[type=text] {
    width: 400px;
}

input[type=submit] {
    width: 120px;
}