.order-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-row div {
    font-size:1.5rem;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #009DDC;
    margin: 5px 0;
}

.position-wrapper {
    display: none;
}

.order-row div:nth-child(1) {
    width: 2rem;
}

.order-row div:nth-child(2) {
    width: 24rem;
}

.order-row div:nth-child(3) {
    width: 6rem;
}

.order-row div:nth-child(4) {
    width: 8rem;
}

.cart-row div {
    font-size: 1.25rem;
}

.cart-row div:nth-child(1) {
    width: 16rem;
}

.cart-row div:nth-child(2) {
    width: 9rem;
}

.cart-row div:nth-child(3) {
    width: 9rem;
}